# Files created by OS
#
.DS_Store
Desktop.ini

# Files created by IDE
#
/.idea/
/.vscode/

/*.code-workspace

# Generated & compiled files
#
__pycache__/
*.pyc

# Environmental files
#
.env

# Data & logs files
#
/src/.volume/

*.csv
*.log

# GIT files
#
/.git/

.gitignore

# Docker & build files
#
/.dockerignore
/Dockerfile
/docker-compose.yml

# Useless project files
#
/.editorconfig
/LICENSE
/README.md
