[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2,<3"
flask-cors = ">=3,<4"
pyjwt = ">=2,<3"
python-slugify = "*"

[dev-packages]
pylint = ">=2,<3"
python-dotenv = "*"

[requires]
python_version = ">=3.7"
